/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap'); */
:root{
    --width:80%;
    --padding-right:auto;
    --padding-left:auto;
    --blue:#23A6F0;
    --colorbtn:#E8F5FC;
    --pfontsize:10px;
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

*{
    font-family: 'Montserrat',sans-serif;
}

.home{
    background-image: url("./images/hero-cover.png");
    height: 700px;
    background-size: 1400px 700px;
}

nav{
    padding-top: 5px;
    display: flex;
    width:var(--width);
    margin-left: var(--padding-left);
    margin-right: var(--padding-right);
}
nav h1{
    color: white;
}
nav > div{
    display: flex;
}

.navContent{
    color: var(--colorbtn);
    margin: auto;
    font-size: 10px;
    font-weight: bold;
    margin-left: 8%;
}

.navContent h3{
    margin-right: 15px;
}

.navLeft >h3{
    color: var(--colorbtn);
    margin-right: 20px;
    font-size: 10px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom:auto ;

}

.navLeft button{
    color: var(--colorbtn);
    background-color: var(--blue);
    border-radius: 5px;
    border: 0;
    height: 60%;
    margin-top: auto;
    margin-bottom:auto ;
    font-size: 10px;
    font-weight: bold;
    padding-left: 15px;
    padding-right:15px;
}
ion-icon{
    padding-left: 5px;
}

.body{
    background-color: #f1efef;
    margin-top: -200px;
}
.homeInfo{
    text-align: center;
    margin-top:12%;
}

.big{
    text-transform: capitalize;
    color: white;
    font-size: 60px;
    font-weight: 900;
}
.additional{
    color: white;
    font-size: 22px;
}

.homeBtn button{
    font-size: 14px;
    font-weight: bold;
    color: var(--colorbtn);
    height: 50px;
    border-radius: 30px;
    padding-left: 25px;
    padding-right:25px ;

}
.quote{
    background-color: var(--blue);
    border: 0;
}
.learn{
    border: 1px solid white;
    background-color: transparent;
}

.cards{
    display: flex;
    width: var(--width);
    margin-left: var(--padding-left);
    margin-right: var(--padding-right);
    margin-top: -100px;
    margin-bottom: 100px;
    background-color: transparent;
}

.cards div{
    width: 30%;
    height: 200px;
    box-shadow: 0px 7px 20px rgb(230, 230, 230);
    
}
.cards h4, .cards p, .cards ion-icon{
    padding-left: 30px;
    padding-right:30px;
}
.cards ion-icon{
    padding-top: 30px;
    color: var(--blue);
}
.cards h4{
    font-size: 20px;
}
.left-card{
    background-color: white;
}
.middle-card{
    margin: auto;
    background-color: white;
}
.right-card{
    background-color: var(--blue);
    color: white;
}
.right-card ion-icon{
    color: white;
}
.cards2{
    padding-top: 200px;
}
.card2-content{
    margin-left: var(--padding-left);
    margin-right: var(--padding-right);
    display: flex;
    background-color: rgb(253, 253, 253);
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.card2-content div{
    text-align: center;
}
.card1{
    padding-left: 10%;
}
.card2{
    margin: auto;
}
.card3{
    padding-right:10%;
}

.card1 ion-icon, .card2 ion-icon, .card3 ion-icon{
    color:var(--blue);
    font-weight: bold;
}

.card2-content h5{
    font-size: 14px;
}
.industry{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.industry h1{
    font-size: 40px;
    font-weight: 600;
}
.people{
    display: flex;
    color: #414242;
    width: var(--width);
    margin-left: auto;
    margin-right: auto;
}
.people div{
    border: 2px solid rgb(236, 230, 230);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px 10px;
    padding-top: 30px;
}
.user-card1{
    margin-right: auto;
}

.user1, .user2, .user3{
    height: 45%;
}

.user-card3{
    margin-left: auto;
}
.img-icon{
    height: 25px;
}

.user-card1 ion-icon,.user2-card ion-icon,.user-card3 ion-icon{
    color: #EF9546;
    margin-left:-10px ;
}

.logos{
    width: var(--width);
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.logos img{
    height: 50px;
}
.banner{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    /* display: grid;
    grid-template-columns: auto auto; */
    display: flex;
    border: 1px solid aqua;
    padding:40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(to right, #034587, #f8099d);
    border-radius: 5px;
}

.banner p{
    margin-right: auto;
    color: white;
    font-weight: bold;
    font-size: 15px
}
.input button{
    height: 44px;
    background-color: var(--blue);
    color: white;
    border-radius: 0px 5px 5px 0px;
    padding:10px;
    padding-left: 30px;
    padding-right:30px ;
}

.input input{
    height: 40px;
    width: 550px;
    margin-right: -132px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 15px;
}
.pricing{
    width: var(--width );
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto ;
    text-align: center;
}
.pricing h3{
    font-size: 25px;
}
.description{
    font-weight: bold;
}

.package1,.package2,.package3{
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding: 20px;
}
.package2{
    height: 100%;
    background-color: #080f2b;
    color: white;
    margin-top: -43px;
}
.services{
    text-align: left;
}
.services ion-icon{
    background-color: #30eb87;
    border-radius:50% ;
    margin-right: 10px;
    color: white;
}
.services p{
    text-transform: capitalize;
    padding-bottom: 5px;
    font-weight: bold;
}
.clear ion-icon{
    background-color: rgb(146, 141, 141);
}
.dollar{
    color:var(--blue);
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    margin-right: 10px
}
sub, sup{
    font-weight: bold;
    font-size: 15px;
}
.try{
    background-color: var(--blue);
    color: white;
    border: 0;
    border-radius: 5px;
    height: 50px;
    width: 85%;
    margin-top: 10px;
}
.branches1{
    background-color: #030718;
    padding-bottom: 300px;
}
.branches{
    color: white;
    width: var(--width);
    margin: auto;
    margin-top: 100px;
    display: flex;
    padding-top: 100px;
}
.story{
    width: 1200px;
    margin-right: 70px;
}
.map{
    font-size: 40px;
    font-weight: bold;
    margin-right: auto;
}


.branches img{
    margin-left: auto;
    width: 500px;
}
.appointment{
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: -15%;
    background-color: white;
    height: 550px;
    border-color: rgb(204, 200, 200);
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
}
.appointment img{
    width: 300px;
}
.appointment form{
    padding-left: 50px;
    line-height: 40px;
}
form h3{
    text-align: center;
    font-size: 25px;
}
form input, select, form button{
    width: 400px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    background-color: #E9E9ED;
    padding-left: 10px;
    padding-right:10px;
}
select{
    width: 420px;
}
form button{
    background-color: var(--blue);
    margin-top: 30px;
    width: 420px;
    height: 50px;
    color: var(--colorbtn);
}

.contact{
    display: flex;
    width: var(--width);
    margin: auto;
    margin-top: 100px;
}

.contactUs{
    font-weight: bold ;
    font-size: 25px;
}

.contact button{
    margin-left: auto;
    padding-left: 60px;
    padding-right:60px;
    height: 60px;
    background-color: var(--blue);
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.about{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-left: 140px;
    padding-right: 140px;
}
.details ion-icon{
    display: inline-block;
    color: var(--blue);
}
a{
    color: black;
    text-decoration: none;
}
.footer{
    display: flex;
    margin-top: 30px;
    padding-left: 140px;
    padding-right: 140px;
}
.footer p{
    text-transform: capitalize;
}
.socials{
    margin-left: auto;
    color: var(--blue);
}